<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Isaac Martin</title>
    <link rel="stylesheet" href="static/style.css">

    <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@v0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.158.0/examples/jsm/"
      }
    }

  </script>
  <script type="module" src="{{ url_for('static',filename='avatar.js') }}"> </script>

</head>
<body>
  <header>

    <nav>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About Me</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">

  <section id="home">
  <div class="hero">
    <div class="hero-text">
      <h1 class="hero-title">Hi there 👋</h1>
      <h1>I'm <span class="gradient-text">Isaac Martin</span></h1>
      <p>I'm a Computer Engineering student at TMU, with a passion for design and Full-Stack Development</p>
    </div>
    <div id="avatar-container">
      <div id="avatar-loading"></div>
    </div>
  </div>

</section>



    <hr />
    <h2 class="section-head">About Me</h2>
      <div class="con col1">
          <div class="skills-section">
    <h2>Skills</h2>
    <div class="skills-grid">
        <div class="skill">Python</div>
        <div class="skill">HTML</div>
        <div class="skill">CSS</div>
        <div class="skill">Java</div>
        <div class="skill">C</div>
        <div class="skill">SQLAlchemy</div>
        <div class="skill">BeautifulSoup</div>
        <div class="skill">Selenium</div>
        <div class="skill">Request</div>
        <div class="skill">Pandas</div>
        <div class="skill">NumPy</div>
        <div class="skill">Matplotlib</div>
        <div class="skill">Plotly</div>
        <div class="skill">Socket.io</div>
        <div class="skill">Flask</div>
        <div class="skill">Bootstrap</div>
        <div class="skill">RESTful</div>
        <div class="skill">WTForms</div>
        <div class="skill">SQL</div>
        <div class="skill">Git/Github</div>
        <div class="skill">Postman</div>
        <div class="skill">PyCharm</div>
        <div class="skill">VS code</div>
    </div>
</div>

          <div class="col">
              <h2>Get to know me!</h2>
              <p class="about-text">
                  Hi, I’m Isaac Martin, from Toronto! I enjoy solving challenging problems, and I do it with the use of code! I’m currently in my 3rd year at Toronto Metropolitan University, where I'm studying Computer Engineering with a specialization in software engineering.
              </p>

              <p class="about-text">
                  Besides coding, some of my other passions are the following:

              <p class="about-text">
              <ul class="about-text">
              <li><b class="bold">Student Representative:</b> I was selected as a Representative for the Electrical, Computer, and Biomedical Engineering Department Council, where I actively participate in meetings and contribute to discussions that influence academic policies and program decisions affecting over 1,000+ undergraduate students. This role has allowed me to develop valuable skills in academic governance, decision-making, and student advocacy.</li>
              <li><b class="bold">Sports:</b> Whether I’m watching or playing, I’m always cheering on the Raptors and Toronto teams or jumping into a quick pick-up game of soccer or basketball!</li>
              <li><b class="bold">Hobbies:</b> Some of my favorite hobbies include staying active with workouts, enjoying scenic bike rides, playing board games with friends, and trying out new recipes or dishes to cook (and, of course, eat)!</li>
              </ul>




          </div>
      </div>

      <br />


<!--project section -->
      <h2 class="section-head">Featured Projects</h2>

<!--      first project -->

<section>
  <div class="project">
      <div class="image-container">
        <img class="image" src="static/photos/leetbot_game.jpg" alt="Project Image">
      </div>
      <div class="project-details">
        <h2>LeetBot</h2>
        <p class="text">
            A multiplayer turn-based game that connects LeetCode
            statistics to in-game robots, where players enhance their robot's abilities
            by solving LeetCode challenges. This project won First Place Overall at Ignition Hacks 2024
        </p>
      <div class="project-links">
        <a href="https://github.com/IsaacMartinn/LeetcodeBot" class="github-link">
            <img src="static/svg/github.svg" alt="External Link">
        </a>
          <a href="https://leetcodebot-gumy.onrender.com/">
              <img src="static/svg/box-arrow-in-up-right.svg">
          </a>
      </div>
      </div>
  </div>


<!--    second project-->

    <div class="project">
      <div class="image-container">
        <img class="image" src="static/photos/pokemonbattle.jpg" alt="Project Image">
      </div>
      <div class="project-details">
        <h2>LeetBot</h2>
        <p class="text">
            A multiplayer turn-based game that connects LeetCode
            statistics to in-game robots, where players enhance their robot's abilities
            by solving LeetCode challenges. This project won First Place Overall at Ignition Hacks 2024
        </p>
      <div class="project-links">
        <a href="https://github.com/IsaacMartinn/LeetcodeBot" class="github-link">
            <img src="static/svg/github.svg" alt="External Link">
        </a>
          <a>
              <img src="static/svg/box-arrow-in-up-right.svg">
          </a>
      </div>
      </div>
  </div>



</section>









  </div>
</body>
</html>

